# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
portable/

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# PyInstaller
StudentInfoSystem/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Streamlit
.streamlit/

# Environment variables / secrets
.env
config.yaml

# Docker
*.tar

# Logs
*.log

# Temporary files
*.tmp
*.temp
